:root {
  --primary-color: #3077c6;
  --primary-dark-color: #10367C;
  --secondary: #F5BD41;
  --primary-text-color: #383838;
  --secondary-text-color: #BFBFBF;
  --gray100: #121212;
  --gray200: #1D1E1F;
  --gray300: #4D4D4D;
  --stroke-color: #F3F3F4;
  --bg-color: #EAF0F9;
  --white-color: #FFFFFF;
  --col-size: calc(100% / 12);
}

.homes {
  background-color: var(--bg-color);
  width: 100%;
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding: 120px 16px;
}

.h2-text {
  margin-bottom: 109px;
  font-size: 40px;
  line-height: 47px;
  font-weight: 500;
  color: var(--primary-text-color);
  text-align: center;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  font-size: 24px;
}